<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyanlou.mybatis.mapper.User2Mapper">
    <!-- 自定义返回结果集 -->
    <resultMap id="user2Map" type="User2">
        <id property="id" column="id" javaType="int"></id>
        <result property="username" column="username" javaType="String"></result>
        <result property="password" column="password" javaType="String"></result>
        <result property="sex" column="sex" javaType="String"></result>
        <result property="address" column="address" javaType="String"></result>
        <result property="age" column="age" javaType="int"></result>
        <result property="phone" column="phone" javaType="String"></result>
    </resultMap>
    <select id="dyForeachTest" resultType="User2">
        select * from user2 where id in
        <foreach collection="list" item="it" index="in" open="(" separator="," close=")">
            #{it}
        </foreach>
    </select>
    <!-- 定义 SQL 语句，其中 id 需要和接口中的方法名一致 -->
    <!-- useGeneratedKeys：实现自动生成主键 -->
    <!-- keyProperty： 唯一标记一个属性 -->
    <!-- parameterType 指明查询时使用的参数类型，resultType 指明查询返回的结果集类型 -->
    <insert id="insertUser2" useGeneratedKeys="true" keyProperty="id">
        insert into user2 (username,password,sex,address,age,phone) values
        (#{username},#{password},#{sex},#{address},#{age},#{phone})
    </insert>

    <update id="updateUser2"  parameterType="User2">
        update user2 set
        address=#{address},username=#{username},sex=#{sex},age=#{age},phone=#{phone}  where
        id=#{id}
    </update>
    <update id="dySetUser2"  parameterType="User2">
        update user2
        <set>
            <if test="address != null">
                address=#{address},
            </if>
            <if test="phone != null">
                phone = #{phone}
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteUser2" parameterType="int">
        delete from user2 where
        id=#{id}
    </delete>

    <!-- 如未为 Java Bean 起类别名，resultType="com.shiyanlou.mybatis.model.User" -->

    <!-- 使用 resultType 时，一定要保证，你属性名与字段名相同；如果不相同，就使用 resultMap -->
    <select id="selectUser2ById" parameterType="int" resultType="User2">
        select * from user2 where id=#{id}
    </select>

    <select id="dynamicIfTest" resultType="User2">
        select * from user2 where sex = 'male'
        <choose>
            <when test="username != null">
                and username like #{username}
            </when>
            <when test="phone != null">
                and phone like #{phone}
            </when>
            <otherwise>
                and address = 'chengdu'
            </otherwise>
        </choose>
    </select>

    <select id="selectAllUser2" resultMap="user2Map">
        select * from user2
    </select>
    <select id="dyTrimTest" resultType="User2">
        select * from user2
        <trim prefix="where" prefixOverrides="and |or ">
            <if test="address != null">
                address=#{address}
            </if>
            <if test="phone != null">
                and phone like #{phone}
            </if>
        </trim>
    </select>
    <select id="dywhereTest" resultType="User2">
        select * from user2
        <where>
            <if test="address != null">
                address=#{address}
            </if>
            <if test="phone != null">
                and phone like #{phone}
            </if>
        </where>
    </select>
</mapper>